<br><br>
<h1 class="text-center">About Eventsync</h1>
<br><br>
<hr>
<p class="container-lg text-lg" style="font-size: 18px;">
    EventSync aims to create a comprehensive platform for managing and promoting events and activities within a college
    or educational institution. The platform serves as a centralized hub where clubs, organizations, associations, and
    communities can upload details of their events, while students can access and participate in these activities. By
    providing a streamlined and efficient event management system, EventSync aims to enhance collaboration,
    communication, and student engagement.

    there is a wide range of clubs, organizations, and communities that organize various events and activities, such as
    workshops, seminars, cultural festivals, sports competitions, and social gatherings. However, coordinating these
    events and ensuring maximum participation from students can be challenging. Often, event information is disseminated
    through multiple channels, leading to fragmented communication and missed opportunities for students to engage in
    activities they are interested in.

    Additionally, event organizers face difficulties in promoting their events effectively and managing registrations,
    attendance, and feedback. There is a need for a centralized platform that brings together all event-related
    information, facilitates seamless communication between organizers and participants, and simplifies event management
    processes.
</p>
<br><br>
<hr>
<p class="container-lg text-lg" style="font-size: 18px;">
    Build By:
    <br>
    Amaya Singh Thakur
    <br>
    Kshitij Kadam
    <br>
    Rohit Patil

</p>
<hr>