<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <html>

    <head>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <title>Sign in</title>
    </head>

    <body>
        <div class="main">
            <form action="/userLogin" enctype="multipart/form-data" method="post">
                <p class="sign" align="center">User Sign in</p>
                <form class="form1" action="/userLogin" enctype="multipart/form-data" method="post">
                    <input class="un " type="text" align="center" placeholder="Username" name="username" for="usernamr"
                        id="username" required>
                    <input class="pass" type="password" align="center" placeholder="Password" name="password"
                        for="password" id="password" required>
                    <a class="submit" align="center" id="signup">Sign in</a>
                </form>

        </div>

        <script src="/script.js"></script>

    </body>

    </html>