 /* h1 {
    background-color: lightblue;

} */

 body {
     background: linear-gradient(to right, #deeffe, #f9f8ec, #c4dff6);
 }

 * {
     --bs-font-sans-serif: "rubik", sans-serif;
     font-weight: bold;
 }

 .container-xxl {
     width: 100%;

 }

 /* body {
    background-image: url("/images/background.jpg");

} */

 a {
     color: var(--bs-dark);
 }

 .category__link {
     text-align: center;
     display: block;
     text-decoration: none;
     transition: 250ms all;
 }

 .category__link:hover {
     transform: scale(1.1);
 }


 .category__img {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100px;
     margin-bottom: 10px;
     box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
     border-radius: 20px;
     overflow: hidden;

 }

 .category__img--large {
     height: 290px;
 }

 .category__img img {
     width: 100%;
     object-fit: fill;
 }